@media all and (min-width: 480px) {

  
    .changePassword {
      margin: 0 auto;
      padding: 60px 0;
      max-width: 320px;
    }
    .DeleteAccount {
      margin: 0 auto;
      padding: 60px 0;
      max-width: 320px;
    }
  }