.profile-page {
   overflow: hidden;
   width: 100vw;
   height:100vh;
   /* color: var(--light);   */
   /* background-color: #fff; */
   /* color: rgb(182, 181, 181); */
}
.profile-container{
   margin-top:60px;
   margin-bottom: auto;
   /* max-width: 85vw !important; */
   /* color: var(--darkest);  */
   
}
.profile-loading-container {

   /* color: var(--light);   */
 
   /* background-color: #212121; */
    margin-top: 10px;
    position: relative;
    margin-left: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.profile-main-body-navbar {
  
   justify-content: center;
   margin-bottom: 2px;
}
.profile-main-body-navbar-text {
   font-weight: 300;
   font-size: 14pt;
   
}
.profile-main-body {
   /* padding: 15px; */
   padding-top: 62px;
   
}
.profile-card-sidebar {
   max-width: 250px;  
   height: 100vh;
   border: none;
   align-items: center;
   border-radius: 0;
}

.profile-card {
   position: relative;
   display: flex;
   flex-direction: column;
   word-wrap: break-word;
   /* background-color: #212121; */
   list-style: none;
   width: 300px;
   /* margin-left: 4px; */
   margin-right: 4px;
   padding-bottom: 5px;
   min-height: 310px;
   max-height: 310px;
}

.profile-card-body {
   flex: 1 1 auto;
   min-height: 1px;
   padding: 1rem;
   /* background-color: #212121; */
  
}
.profile-scrollable{
   overflow-y: auto;
   max-height: 230px;
}
.profile-avatar-container {
   position: relative;
   height: 110px;
   width: 110px;
 }
 .profile-avatar-overlay {
   cursor: pointer;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .3s ease;
   border-radius: 50%;
   background-color: rgba(125, 125, 125, 0.591);
 }
 .profile-avatar-container:hover .profile-avatar-overlay {
   opacity: 1;
 }

 .profile-clickable-icon { 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
   font-size: 30px;
 }

 .profile-avatar {
   margin-bottom: 5px;
   height: 110px;
   width: 110px;
}

.profile-follow-chat-btns {
   display: flex;
   justify-content: space-between;
   padding: 10px ;
   
}
.profile-edit-btn {
   display: flex;
   justify-content: space-between;
   padding: 10px; 
}

.profile-follow {
   cursor: pointer;
   border: none;
   padding-bottom: .1px;
   /* background-color: #212121; */

}
.profile-following:hover {
   color: #2986DA !important;
}
.profile-follow:hover {
   color: #2986DA !important;
}
.userDetails-card {
   display: flex;
   justify-content: center;
}

.profile-follow-count {
   /* font-weight: 500; */
   /* font-size: 14pt; */
 
}
.profile-follow-text {
   /* font-weight: 300; */
   /* font-size: 10pt; */
   
}
.remarks-list {
   color: #fff;

}
.profile-comment-map {
  
}

.profile-sidebar-listgroup-item, .remark-listItem {
   cursor: pointer;
   padding: 10px;
   text-align: left;
   border: none;
   background-color: #212121;
}
.profile-sidebar-listgroup-item:hover, .remark-listItem:hover {
   color: #2986DA !important;
}

.profile-sidebar-icon {
   padding-right: 8px;
}
.remarks-nav {
   margin-bottom: 4px;
}
.remarks-nav-tab {
   font-weight: 400;
   height: 40px;
   color: #838584;
}
.remarks-nav-active-tab {
   font-weight: 400;
   height: 40px;
   border-bottom: 2px solid #2986DA;
}
/* .profile-gutters-sm {
   margin-right: -8px;
   margin-left: -8px;
}

.profile-gutters-sm>.col, .profile-gutters-sm>[class*=col-] {
   padding-right: 8px;
   padding-left: 8px;
}
.profile-mb-3, .profile-my-3 {
   margin-bottom: 1rem!important;
}
.profile-mb-0 {
   font-size: 10pt;
}

.profile-h-100 {
   height: 100%!important;
} */


.profile-thumb .profile-thumb-value {
   display: block;
   font-size: 12px;
   line-height: 30px;
   font-weight: 500;
   z-index: 2;
}
.profile-thumb.thumb-active {
   -webkit-transform: scale(1);
   transform: scale(1);
}

.profile-reputation-bar {
   margin-top: 5px;
}
