.profile-container{
   margin-top:70px;
   margin-bottom: auto;
   color: #1a202c;
   text-align: left;
   /* background-color: #e2e8f0;    */
}
.profile-loading {
    margin-top: 200px;
    text-align: center; 
}

.profile-main-body {
   padding: 15px;
}
.profile-card {
   box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.profile-card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 0 solid rgba(0,0,0,.125);
   border-radius: .25rem;
}

.profile-card-body {
   flex: 1 1 auto;
   min-height: 1px;
   padding: 1rem;
}
.profile-scrollable{
   overflow-y: auto;
   max-height: 200px;
}

.profile-followers-hover {
   cursor: pointer;
   border: none;
   padding-bottom: .1px;
}

.profile-gutters-sm {
   margin-right: -8px;
   margin-left: -8px;
}

.profile-gutters-sm>.col, .profile-gutters-sm>[class*=col-] {
   padding-right: 8px;
   padding-left: 8px;
}
.profile-mb-3, .profile-my-3 {
   margin-bottom: 1rem!important;
}

.profile-h-100 {
   height: 100%!important;
}

.profile-clickable-icon:hover{
   cursor: pointer;
   color: #17a2b8!important;
}
.profile-thumb .profile-thumb-value {
   display: block;
   font-size: 12px;
   line-height: 30px;
   color: #fff;
   font-weight: 500;
   z-index: 2;
}
.profile-thumb.thumb-active {
   -webkit-transform: scale(1);
   transform: scale(1);
}
.profile-avatar {
   margin-bottom: 5px;
   height: 150px;
   width: 150px;
}