::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}
.chat-page {
  overflow: hidden;
  width: 100vw;
  height:100vh;
  /* color: var(--light);   */
  /* background-color: #000000; */
  color: var(--chat-grey);
}
.chatContainer {
  --chat-lighter: #F3F2EF;
  --chat-lightest: #fff;
  --chat-darkest: rgb(15, 23, 36);
  --chat-primary: #2986DA;
  --chat-secondary: #3FB8AF;
  --chat-grey: #838584;
  --chat-border: rgba(219,219,219);
  /* background-color: #212121; */
  background-color: var(--chat-lightest);
  margin-top:80px;
  border-radius: 8px;
  padding-bottom: 0px;
  min-width: 85vw;
  /* width: auto; */
  /* max-width: calc(100vw - 300px); */
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid var(--chat-border); */

}

.chatMenu {
  padding-top: 20px;
  margin-left: inherit;
  /* border-right: 1px solid var(--chat-border); */
  /* background-color: var(--chat-primary); */
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
  /* max-width: 265px; */
} 

.chatMenuHeader {
  text-align: center;
  margin-left: auto;
  padding-bottom: 10px;
  /* border-bottom: 1px solid var(--chat-border); */
  
} 
.chatMenuHeaderIcon {
  width: 30px;
  height: 30px;
  padding-left: 10px;
  margin-right: 10px;
  /* padding-top: 3px; */
  /* color: var(--chat-lighter); */
  color: var(--chat-primary);
}
.chatMenuHeaderText {
  font-weight: 500;
  font-size: 18px;
  /* padding-left: 25px; */
  /* color: var(--chat-lighter); */
  color: var(--chat-primary);
}

.chatMenuListgroup {
  margin-left: 20px;
  margin-bottom: 5px;
  overflow-y: scroll;
  height: 72vh;
  width: 100%;
  /* padding-right: 15px; */
  /* padding-right: -20px; */
}
.chatMenuList {
  background-color: transparent !important;
  border: none;
  cursor: pointer;

}

.chatBoxWrapper {
  height: 100%;
  /* width: 600px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
}
.startChatWrapper {
  cursor: pointer;
  text-align: center;
  color: var(--chat-grey);
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.startChatWrapper:hover {
  color: var(--chat-primary);
}
.startChatIcon {
 
}
.startChatText {

}
.chatBoxHeader {
  padding-top: 20px;
  padding-bottom: 20px;


}
.chatBoxHeaderClose {

}
.chatBoxHeaderImg {
  border: 1px solid var(--chat-secondary);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  /* margin-top: 5px; */
  margin-right: 15px;
  float: left;
  /* margin-right: -20%; */
  /* margin-bottom: 4px; */
  cursor: pointer;
  
}
.chatBoxHeaderUserHandle {
  font-size: 18px;
  /* display: inline-block; */
  cursor: pointer;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 15px;
  color: var(--chat-secondary);
  
} 
.chatBoxHeaderName {
  font-size: 14px;
  font-weight: 300;
  margin-left: 15px;
  cursor: pointer;
  color: var(--chat-secondary);

} 
.chatBoxTop {
  /* overflow-y: scroll !important; */
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  position: relative;
  /* float: bottom; */
  
}
.chatBoxTopTypingBubble {
  padding: 10px;
  border-radius: 20px;
}
.keep-scrolling {
  overflow-y: scroll;
  max-height: 60vh;
  /* height: calc(100vh - 370px) !important; */
   /* max-height: calc(100vh - 370px) !important; */
   position: relative;

}
.infiniteScroll {
  /* max-height: 402px; */
  display: flex; 
  flex-direction: column-reverse; 
}
.loading-icon {
  display:inline-block;
  text-align:center;
}

.chatBoxLoading {
  padding-top: 50px;
  text-align: center;
}
.messageRow {
  padding: 10px;
}
.messageRow.own {
  padding: 10px;
}
.typingImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 3px;
}
.typing {
    padding: 10px;
    padding-left: 25px;
    margin-left: 25px;
    border: 1px solid var(--chat-secondary);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 300;
    color: var(--chat-secondary);
    max-width: 100px;
    min-width: 100px;
    min-height: 40px;
    max-height: 40px;
    background: transparent;
    margin-bottom: 10px;
  /* border-radius: 20px; */
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 5px 5px 5px 5px;
  background: var(--chat-secondary);
  border-radius: 40px;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}
.displayReplyToast {
  position: absolute;
  padding-bottom: 65px;
  /* top: 0;  */
  bottom: 0;
  left: 0; right: 0; 
  margin-left: 15px;
  z-index: 5;
}

.replyQuoteWrapper {
  z-index: 5;
  padding: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 4px 0 0 var(--chat-primary) inset;
  min-height: 50px;
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  /* min-width: 200px;
  max-width: 56vw; */
  min-width: 85%;
  margin: auto;
  box-sizing: border-box;
  color: var(--chat-primary);
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.824);
}
.replyQuoteUserHandle {
    font-weight: 600;
}
.replyQuoteText {
    /* word-wrap: break-word; */
  /* overflow-y: scroll; */
    padding-bottom: 4px;

}
.replyQuoteCloseX {
  cursor: pointer;
  text-align: right;
  padding-top: 3px;
}


@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.chatBoxBottom {
  /* background-color: var(--chat-lightest); */
  position: absolute;
  width: 90%;
  padding-bottom: 10px;
  padding-top: 8px;
  margin: auto;
}


.chatMessageInput, .chatMessageInput:focus, .chatMessageInput:visited {
  /* margin-top: 15px; */
  border-radius: 50px !important;
  border-color: var(--chat-primary) !important;
  background-color: transparent;
  /* color: var(--chat-lightest); */
}

.emojiPicker {
  /* border: none; */
  /* box-shadow: none; */
}
.chatMessageIcon {
  color: var(--chat-primary);
}

.chatMessageEmojiBtn, .chatMessageEmojiBtn:hover, .chatMessageEmojiBtn:visited{
  background-color: transparent !important;
  border: none;
  padding-right: 10px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin: auto;
  text-align: center;
  color: var(--chat-primary);
}

.chatMessageSendBtn, .chatMessageSendBtn:hover, .chatMessageSendBtn:visited {
  height: 40px;
  border: none;
  padding-left: 10px;
  border-top-right-radius: 5px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  background-color: transparent !important;
}

.chatMessageScrollBtn {
  border: none;
  cursor: pointer;
  margin: auto;
  text-align: center;
  background-color: transparent !important;
  padding-left: 15px;
  padding-right: 5px;
}

.chatMessageScrollBtnIcon {
  color: var(--chat-primary);
}
.chatMessageScrollBtn:hover {
  background-color: transparent !important;
}

.chatUserCardHeader {
  padding-top: 20px ;
}



@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }
}
