
.changePass-card-container {
  height: 200px;
  position: relative;
  margin-top: 350px;
}

.changePass-card-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 320px;
  margin-top: 350px;
  text-align: center;
}

.btnGroup {
  background-color: transparent;
}

@media all and (min-width: 480px) {

  }