
.deactivateAccount-card-page {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}
.deactivateAccount-card-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
  
.deactivateAccount-card-header {
  font-size: 1.4rem;
  font-weight: 300;
  color: red;
  text-align: center;
}
.deactivateAccount-card-center {
  background-color: #212121;
  max-width: 300px;
  text-align: center;
  position: relative;
  margin: auto;
}
.deactivate-account-card-footer {
  background-color: transparent;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
 
}
.deactivate-account-btn {
  margin: 2px !important;
}
