
.login-body{

}
.login-card {
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    width: 21rem;
    text-align: left;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    /* box-shadow: 5px 10px 5px rgba(128, 128, 128, 0.644); */
}
.login-card-header {
    width:16rem;
    background-color: inherit;
    
    
}
.login-nav-tabs .login-nav-tabs.active {
    /* background-color: #50595c48; */
}
.login-card-title {
    color: #2986DA;
    font-family: 'Lato', sans-serif;
    text-align: center;
    
}
.login-form-signin {
    /* padding: 10px; */
    width: 16rem;
    margin: 0 auto;
    
}
.login-btn {
    /* width: auto; */
}
.login-form-social-buttons {
    width: 6rem;;
    margin: 0 auto;

}
.login-social-button {
    text-align: auto;
    border-radius: 50%;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}
.fab {
    /* padding: 20px; */
    font-size: 25px;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    text-decoration: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left:  .5rem;
    padding-right:  .5rem;
    
}
  
  /* Add a hover effect if you want */
.fab:hover {
    opacity: 0.7;
}

.fa-facebook-f {  
    background: #3b5898;
    color: white;
    
    
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }


.login-card-body {

}
